<v-card>
  <v-card-title>
    <a href="https://www.hydroframe.org/">Hydroframe</a>
    <div class="pl-2">Sand Tank outreach tool</div>
    <v-spacer />
    <v-btn flat icon v-on:click="$emit('close')">
      <v-icon v-text="`$close`" />
    </v-btn>
  </v-card-title>
  <hr />
  <v-card-text>
    <p class="body-1">
      <a href="https://github.com/hydroframe/SandTank">Paraflow Sandtank</a>
      is an open-source web application developed by
      <a href="https://www.kitware.com/">Kitware</a>
      for educational purpose. It is using
      <a href="https://parflow.org/">Parflow</a> for its simulation backend and
      <a href="https://www.paraview.org">ParaView</a> for the data loading and
      processing. The communication infrastructure rely on the
      <a href="http://www.paraview.org/web/">ParaViewWeb</a> framework.
    </p>
    <p>
      <b>Acknowledgment:</b> This material is based upon work supported by the
      Department of Energy under Award Number(s) DE-SC0019609 - Cloud/Web-based
      Advanced Modeling and Simulation Turnkey High-Performance Computing
      Environment for Surface and Subsurface Science.
    </p>
    <div class="pt-3 d-block text-xs-center grey--text text--darken-2">
      &copy; {{ new Date().getFullYear() }} — Kitware, Inc.
    </div>
  </v-card-text>
</v-card>
