<svg
  :width="width * scale"
  :height="height * scale + offset"
  :style="{ opacity }"
>
  <circle
    v-for="well, idx in wells"
    :key="`circle-${idx}`"
    :cx="well.position[0] * scale"
    :cy="offset + height * scale - well.position[1] * scale"
    :r="scale / 2"
    :stroke="color"
    stroke-width="4"
    fill="none"
  />
  <line
    v-for="well, idx in wells"
    :key="`line-${idx}`"
    :x1="well.position[0] * scale"
    :x2="well.position[0] * scale"
    :y1="0"
    :y2="offset + height * scale - well.position[1] * scale - scale / 2"
    :stroke="color"
    :stroke-width="scale / 2"
  />

  <line
    v-for="press, idx in pressures"
    :key="`press-${idx}`"
    :x1="press.x * scale"
    :x2="press.x * scale"
    :y1="offset + height * scale - (press.y + 0.65) * scale"
    :y2="offset + height * scale - (press.y + press.height) * scale"
    :stroke="water"
    :stroke-width="scale / 4"
    v-if="press.width === 0"
  />
</svg>
