<svg
  :width="width * scale"
  :height="height * scale + offset"
  :style="{ opacity }"
>
  <circle
    v-for="well, idx in wells"
    :key="`circle-${idx}`"
    :cx="well.position[0] * scale"
    :cy="offset + height * scale - well.position[1] * scale"
    :r="scale / 2"
    :stroke="color"
    stroke-width="4"
    fill="none"
  />
  <line
    v-for="well, idx in wells"
    :key="`line-${idx}`"
    :x1="well.position[0] * scale"
    :x2="well.position[0] * scale"
    :y1="0"
    :y2="offset + height * scale - well.position[1] * scale - scale / 2"
    :stroke="color"
    :stroke-width="scale / 2"
  />
  <text
    v-for="well, idx in wells"
    :key="`txt-${idx}`"
    :x="well.position[0] * scale + scale"
    :y="offset + height * scale - well.position[1] * scale + scale / 2"
    :fill="color"
    font-weight="bold"
    font-size="20"
  >
    {{ well.name }}
  </text>
</svg>
