.container {
  position: relative;
  background: #ccc;
}

.canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
}

.material {
  composes: canvas;
  z-index: 0;
}

.water {
  composes: canvas;
  z-index: 2;
}

.wells {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  user-select: none;
}

