.container {
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
}

.material {
  composes: canvas;
  z-index: 0;
}

.water {
  composes: canvas;
  z-index: 2;
}

.pollutant {
  composes: canvas;
  z-index: 3;
}

.wells {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  user-select: none;
}

.stillWater {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  user-select: none;
}

.wellControl {
  position: absolute;
  top: -10px; /* well offset */
  transform: translateX(-50%) translateY(-100%);
}
