<v-layout column>
  <v-layout align-end :style="maxTankHeightStyle">
    <v-spacer />
    <vertical-slider />
    <div :class="$style.container" :style="containerStyle">
      <material-layer
        :class="$style.material"
        v-for="(value, key) in domain.materials"
        :key="key"
        :scale="scale"
        :size="domain.dimensions"
        :indicatorMask="indicatorMask"
        :texture="value"
        :indicatorValue="Number(key)"
        :opacity="opacitySoil"
      />
      <saturation-layer
        :class="$style.water"
        :scale="scale"
        :size="domain.dimensions"
        :saturation="saturation"
        :opacity="slowWaterOpacity"
        :style="{ opacity: fastWaterOpacity }"
      />
      <well-layer
        :class="$style.wells"
        :size="domain.dimensions"
        :scale="scale"
        :wells="domain.wells"
        :opacity="opacityWells"
      />
    </div>
    <vertical-slider />
    <v-spacer />
  </v-layout>
  <v-layout style="max-height: 50px;" align-center>
    <v-slider
      class="mx-4"
      label="Soil opacity"
      v-model="opacitySoil"
      min="0"
      step="0.01"
      max="1"
      hide-details
    />
    <v-slider
      class="mx-4"
      label="Water opacity"
      v-model="opacityWater"
      min="0"
      step="0.01"
      max="1"
      @start="adjustingWaterOpacity = true"
      @end="adjustingWaterOpacity = false"
      hide-details
    />
    <v-slider
      class="mx-4"
      label="Wells opacity"
      v-model="opacityWells"
      min="0"
      step="0.01"
      max="1"
      hide-details
    />
  </v-layout>
  <v-spacer />
</v-layout>
