<v-layout column>
  <v-layout align-end :style="maxTankHeightStyle">
    <v-spacer />
    <vertical-slider
      :scale="scale"
      :domainSize="size"
      :width="sliderWidth"
      :maxHeight="domain.setup.maxHeight"
      :value="jobConfig.hLeft"
      @input="setLeftPressure"
      position="right"
    />
    <div :class="$style.container" :style="containerStyle">
      <still-water
        :class="$style.stillWater"
        :size="size"
        :scale="scale"
        :pressures="pressures"
      />
      <material-layer
        :class="$style.material"
        v-for="item in domain.setup.indicators"
        :key="item.key"
        :scale="scale"
        :size="size"
        :indicatorMask="indicatorMask"
        :texture="getTexture(item.key)"
        :indicatorValue="item.key"
        :opacity="opacitySoil"
        :mask="mask"
      />
      <saturation-layer
        :class="$style.water"
        :scale="scale"
        :size="size"
        :saturation="saturation"
        :opacity="slowWaterOpacity"
        :style="{ opacity: fastWaterOpacity }"
        :mask="mask"
      />
      <well-layer
        :class="$style.wells"
        :size="size"
        :scale="scale"
        :wells="domain.wells"
        :pressures="pressures"
        :opacity="opacityWells"
        color="#444"
      />
      <v-layout>
        <well-control
          v-for="well in domain.wells"
          :key="well.key"
          :class="$style.wellControl"
          :style="`left: ${(well.position[0] / size[0])* (scale * size[0])}px`"
          :id="well.key"
          :name="well.name"
          :mode="getWellMode(well.key)"
          :canPump="canPump(well.key, well.position[0], well.position[1])"
          :value="getWellValue(well.key)"
          @change="updateWell"
          :autoHide="autoHideControls"
        />
      </v-layout>
    </div>
    <vertical-slider
      :scale="scale"
      :domainSize="size"
      :width="sliderWidth"
      :maxHeight="domain.setup.maxHeight"
      :value="jobConfig.hRight"
      @input="setRightPressure"
      position="left"
    />
    <v-spacer />
  </v-layout>
  <v-layout style="height: 50px;" align-center>
    <v-slider
      class="mx-4"
      label="Soil opacity"
      v-model="opacitySoil"
      min="0"
      step="0.01"
      max="1"
      hide-details
      v-show="showOpacitySliders"
    />
    <v-slider
      class="mx-4"
      label="Water opacity"
      v-model="opacityWater"
      min="0"
      step="0.01"
      max="1"
      @start="adjustingWaterOpacity = true"
      @end="adjustingWaterOpacity = false"
      hide-details
      v-show="showOpacitySliders"
    />
    <v-slider
      class="mx-4"
      label="Wells opacity"
      v-model="opacityWells"
      min="0"
      step="0.01"
      max="1"
      hide-details
      v-show="showOpacitySliders"
    />
  </v-layout>
</v-layout>
