<v-layout column>
  <material-table
    :indicators="indicators"
    @change="onPermeabilityChange"
    :soilVisibility="showSoil"
    @visibility="updateVisibility"
  />
  <v-layout align-end :style="maxTankHeightStyle" class="mt-4">
    <v-spacer />
    <div :class="$style.container" :style="containerStyle">
      <material-layer
        :class="$style.material"
        v-for="item in domain.setup.indicators"
        :key="item.key"
        :scale="scale"
        :size="domain.dimensions"
        :indicatorMask="indicatorMask"
        :texture="showSoil ? getTexture(item.key): null"
        :color="palette[item.key]"
        :indicatorValue="item.key"
      />
      <well-layer
        :class="$style.wells"
        :size="domain.dimensions"
        :scale="scale"
        :wells="domain.wells"
        color="#444"
        :offset="0"
      />
    </div>
    <v-spacer />
  </v-layout>

  <v-spacer />
</v-layout>
