<v-layout column>
  <material-table :indicators="indicators" @change="onPermeabilityChange" />
  <v-layout align-end :style="maxTankHeightStyle" class="mt-4">
    <v-spacer />
    <div :class="$style.container" :style="containerStyle">
      <material-layer
        :class="$style.material"
        v-for="item in domain.setup.indicators"
        :key="item.key"
        :scale="scale"
        :size="size"
        :indicatorMask="indicatorMask"
        :texture="showSoil ? getTexture(item.key): null"
        :color="palette[item.key]"
        :indicatorValue="item.key"
        :mask="mask"
      />
    </div>
    <v-spacer />
  </v-layout>
  <v-spacer />
</v-layout>
