<v-layout column>
  <material-table
    :indicators="indicators"
    @change="onPermeabilityChange"
    :soilVisibility="showSoil"
    @visibility="updateVisibility"
  />
  <v-layout align-end :style="maxTankHeightStyle" class="mt-4">
    <v-spacer />
    <div :class="$style.container" :style="containerStyle">
      <material-layer
        :class="$style.material"
        v-for="(value, key) in domain.materials"
        :key="key"
        :scale="scale"
        :size="domain.dimensions"
        :indicatorMask="indicatorMask"
        :texture="showSoil ? getTexture(key): null"
        :color="palette[Number(key)]"
        :indicatorValue="Number(key)"
      />
    </div>
    <v-spacer />
  </v-layout>

  <v-spacer />
</v-layout>
