<div :class="$style.table">
  <div>
    <v-switch
      dense
      hide-details
      class="mt-0"
      :value="soilVisibility"
      @change="updateSoilVisibility"
      v-show="showSoilToggle"
    />
  </div>
  <div class="text-center" :class="$style.clay">
    <span :class="$style.txtBg">Clay</span>
  </div>
  <div class="text-center" :class="$style.loam">
    <span :class="$style.txtBg">Loam</span>
  </div>
  <div class="text-center" :class="$style.sand">
    <span :class="$style.txtBg">Sand</span>
  </div>
  <div class="text-center" :class="$style.gravel">
    <span :class="$style.txtBg">Gravel</span>
  </div>
  <template v-for="item in indicators">
    <div
      :key="item.key"
      class="text-center"
      :class="$style.small"
      :style="`background: ${item.color}`"
    >
      {{ item.key }}
    </div>
    <div :class="$style.slider" :key="`slider-${item.key}`">
      <v-slider
        dense
        hide-details
        thumb-label
        :value="item.value"
        @input="updateIndicator(item.key, $event)"
        :min="0.01"
        :max="1.0"
        :step="0.01"
      />
    </div>
  </template>
</div>
