layout: index
description: Interactively simulate and visualize groundwater movement
subtitle: HydroFrame Sandtank Educational Model
comments: false
cmd: docker run -p 9000:80 -it hydroframe/sandtank
---

center
  img(style="margin: 0.5%", src="/SandTank/gallery/poster.png", width="100%")
