name: Docker

on:
  # Build on pull request to confirm the build works
  pull_request:
    branches: [ master ]
  # Build on release to push a new image
  release:
    types: [ created ]

jobs:

  build:
    name: build
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build development
      uses: docker/build-push-action@v1.0.1
      with:
        repository: sandtank-dev
        tags: latest
        # Need docker build context to be "." for this one
        dockerfile: docker/development/Dockerfile
        add_git_labels: true
        push: false

    - name: Build runtime
      uses: docker/build-push-action@v1.0.1
      with:
        repository: sandtank-runtime
        tags: latest
        path: docker/runtime
        add_git_labels: true
        push: false

    - name: Build web service
      uses: docker/build-push-action@v1.0.1
      with:
        repository: hydroframe/sandtank
        tags: latest
        path: docker/web
        add_git_labels: true
        push: false

    - name: Create Docker Tag
      if: github.event_name == 'release'
      run: . ./scripts/github-actions/create_docker_tag.sh
      env:
        REF: ${{ github.ref }}

    - name: Push web service
      if: github.event_name == 'release'
      uses: docker/build-push-action@v1.0.1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: hydroframe/sandtank
        tags: ${{ env.DOCKER_TAG }},latest
        path: docker/web
        add_git_labels: true
